%tr
  %td
    = link_to channel.name, channel_path(channel)
  %td
    = channel.owner.name rescue ''
    - if is_me? channel.owner_id
      %i (me)
  %td
    = channel.partner.name rescue ''
    - if is_me? channel.partner_id
      %i (me)
  %td
    = channel.translator.name rescue ''
    - if is_me? channel.translator_id
      %i (me)
  %td
    = l channel.started_at if channel.started_at
  %td