.row
  /Owner information
  .col.col-md-4.text-left
    &nbsp;
    .clearfix
    = image_tag @owner_acc.avatar.url(:small), class: 'thumbnail-img online'
    .clearfix
    = @owner_acc.name
  .col.col-md-4.text-center
    %i.fa.fa-comments-o
    .clearfix
    = image_tag @translator_acc.avatar_url, class: 'thumbnail-img'
    .clearfix
    = @translator_acc.name
  .col.col-md-4.text-right
    &nbsp;
    .clearfix
    = image_tag @partner_acc.avatar_url, class: 'thumbnail-img'
    .clearfix
    = @partner_acc.name