<% if (isFromOwner){ %>
  <tr class="from-owner" id="<%= message.message_ref %>">
    <td class="owner-td">
      <div class="message-content"><div class="arrow"></div>
        <%= message.message %>
      </div>
      <div class="message-time"><%= timeAgo(message.message_ref) %></div>
    </td>
    <td class="translator-td">
      <div class="message-content">
        <div class="arrow"></div>
        <textarea class="translate-input" o_role="<%= message.sender_role %>" u_id="<%= message.sender_id %>" m_ref="<%= message.message_ref %>" placeholder="Enter translated text ...">
        </textarea>
      </div>
    </td>
    <td class="partner-td">
    </td>
  </tr>
<% } else { %>
  <tr class="from-partner" id="<%= message.message_ref %>">
    <td class="owner-td">
      <div class="message-content"><div class="arrow"></div>
        <%= message.message %>
      </div>
      <div class="message-time"><%= timeAgo(message.message_ref) %></div>
    </td>
    <td class="translator-td">
      <div class="message-content">
        <div class="arrow"></div>
        <textarea class="translate-input" o_role="<%= message.sender_role %>" u_id="<%= message.sender_id %>" m_ref="<%= message.message_ref %>" placeholder="Enter translated text ...">
        </textarea>
      </div>
    </td>
    <td class="partner-td">
    </td>
  </tr>
<% } %>