<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default">
    <div class="panel-heading">Profile</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :avatar, "Profile picture" %>
            <div class="row">
              <div class="col-md-5">
                <%= image_tag resource.avatar, width: 150, class: "round-image" %>
              </div>
              <div class="col-md-7">
                <button class="btn btn-default" id="upload-new-avatar" type="button">
                  <span id="uploading-text">Upload new picture</span>
                  <input type="file" name="avatar" />
                </button>
              </div>
            </div>
          </div>

          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, class: "form-control", autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Update Profile", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <div class="panel panel-default">
    <div class="panel-heading">Settings</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: "form-control", autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, class: "form-control", autofocus: true %>
          </div>


          <div class="form-group">
            <%= f.label :current_password %><br />
            <%= f.password_field :current_password, class: "form-control", autofocus: true %>
          </div>

          <div class="actions">
            <%= f.submit "Update Password", class: "btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<br class="clearfix" />
