.well.sidebar-nav
  %ul.nav.nav-list
    %li= link_to "My Channels", root_url
    %li= link_to "Inbox (2)", "/inbox"
    %li= link_to "Find Translator", "/find_translator"
    %li= link_to "Find Channel", "/find_channel"
    %li= link_to "Manage", "/manage"